<ion-header>
  <ion-navbar>
    <ion-title>{{'Add Expense' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{'Select Vehicle' | translate}}</ion-label>
      <ion-select [(ngModel)]="vehName" required>
        <ion-option
          *ngFor="let veh of portstemp"
          [value]="veh.Device_Name"
          (ionSelect)="onChnageEvent(veh)"
        >
          {{ veh.Device_Name }}</ion-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'Expense Type' | translate}}</ion-label>
      <ion-select [(ngModel)]="expenseTypeValue" required>
        <ion-option *ngFor="let type of expenseType" [value]="type.value">{{
          type.viewValue
        }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'Enter Amount' | translate}}</ion-label>
      <ion-input
        type="number"
        text-right
        [(ngModel)]="amt"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'Currency' | translate}}</ion-label>
      <ion-select [(ngModel)]="currencyValue" required>
        <ion-option
          *ngFor="let currency of currencyArray"
          [value]="currency.currencyVal"
          >{{ currency.country }}</ion-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'Payment Mode' | translate}}</ion-label>
      <ion-select [(ngModel)]="payModeValue" required>
        <ion-option *ngFor="let mode of payMode" [value]="mode.value">{{
          mode.viewValue
        }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'Date' | translate}}</ion-label>
      <ion-datetime
        displayFormat="DD/MM/YYYY"
        pickerFormat="DD/MM/YYYY"
        [(ngModel)]="ddate"
        name="ddate"
        required
      >
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>{{'Reference' | translate}}</ion-label>
      <!-- <ion-input type="text" name="reference" [ngModel]="reference" required #reference="ngModel"></ion-input> -->
      <ion-input
        type="text"
        text-right
        [(ngModel)]="reference"
        required
      ></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="footSty">
  <ion-toolbar>
    <ion-row no-padding>
      <ion-col width-50 style="text-align: center;">
        <button ion-button clear color="light" (click)="submit()">
          {{'SUBMIT' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
